@import "../../../node_modules/prismjs/themes/prism-okaidia.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Used colors.
$cadet-blue: hsl(210, 19%, 73%);
$shark: hsl(215, 15%, 16%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$green-blue-crayola: hsl(207, 54%, 51%);

// Currently unused colors.
$pine-green: hsl(172, 71%, 25%);
$prussian-blue: hsl(203, 91%, 14%);
$rosso-corsa: hsl(0, 100%, 41%);
$selective-yellow: hsl(43, 100%, 52%);

// Universal colors.
$link-color: $green-blue-crayola;
$link-color-hover: darken($color: $green-blue-crayola, $amount: 20%);

// Dark theme colors.
$background-color-dark: $shark;
$text-color-dark: $cadet-blue;

// Light theme colors.
$background-color-light: $white;
$text-color-light: $black;

// Component specific classes.
.nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem;

    &.router-link-exact-active {
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }
}

// Tag specific classes.
a {
  color: inherit;
  text-decoration: none;

  &.link {
    color: $link-color;
  }

  &:hover {
    color: $link-color-hover;
  }
}

html {
  font-family: Roboto, Avenir, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    background-color: $background-color-light;
    color: $text-color-light;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $text-color-dark;
  }
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.5rem;
  text-align: left;

  &.none{
    margin-top: none;
    margin-bottom: none;
  }
}

pre {
  &.code-block {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

ul {
  &.none {
    list-style-type: none;
    padding: 0;
  }
}

// Generic classes.
.center-vh {
  align-items: center;
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.container {
  margin: 1rem;
  max-width: 54rem;
}

.icon {
  color: inherit;
  margin: 0.75rem;
}

.rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.title-left {
  font-size: 2rem;
  text-align: left;
}

.sub-title {
  margin-top: -1.5rem;
  text-align: center;
}

.post {
  text-align: left;

  & span {
    font-size: 1.2rem;
    margin-right: 3rem;
  }

  & a {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 0.5rem;

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
}

.post-title {
  text-align: left;
}