@import "../../../node_modules/prismjs/themes/prism-okaidia.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// Used colors.
$cadet-blue: hsl(210, 19%, 73%);
$shark: hsl(215, 15%, 16%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$green-blue-crayola: hsl(207, 54%, 51%);
$red-munsell: hsl(354, 81%, 56%);
$jonquil: hsl(47, 95%, 52%);

// Currently unused colors.
$pine-green: hsl(172, 71%, 25%);
$prussian-blue: hsl(203, 91%, 14%);
$danube: hsl(207, 54%, 61%);

// Universal colors.
$pimary: $green-blue-crayola;
$warning: $jonquil;
$danger: $red-munsell;
$link-color: $green-blue-crayola;
$link-color-hover: darken($green-blue-crayola, 20%);

// Dark theme colors.
$background-color-dark: $shark;

// Light theme colors.
$background-color-light: $white;

// Tag specific classes.
a {
  color: inherit;
  text-decoration: none;

  &.link {
    color: $link-color;
  }

  &:hover {
    color: $link-color-hover;
  }
}

button {
  background-color: $pimary;
  border: none;
  border-radius: 2px;
  margin: 0.5rem;
  padding: 0.5rem;

  @media (prefers-color-scheme: light) {
    color: $white;
  }

  @media (prefers-color-scheme: dark) {
    color: $white;
  }

  &:hover {
    background-color: darken($pimary, 10%);
  }
}

html {
  font-family: Roboto, Avenir, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    background-color: $background-color-light;
    color: $black;
  }

  @media (prefers-color-scheme: dark) {
    background-color: $background-color-dark;
    color: $cadet-blue;
  }
}

input {
  border: 1px solid $cadet-blue;
  border-radius: 2px;
  box-sizing: border-box;
  height: 33px;
  padding-left: 0.5rem;
}

li {
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1.5rem;
  text-align: left;

  &.none{
    margin-top: 0;
    margin-bottom: 0;
  }
}

pre {
  &.code-block {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

ul {
  &.none {
    list-style-type: none;
    padding: 0;
  }
}

// Component specific classes.
.footer {
  min-height: 5rem;
  padding: 0.2rem;

  @media (prefers-color-scheme: light) {
    background-color: darken($background-color-light, 3%);
  }

  @media (prefers-color-scheme: dark) {
    background-color: darken($background-color-dark, 4%);
  }
}

.nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0.5rem;

    &.router-link-exact-active {
      color: $link-color;

      &:hover {
        color: $link-color-hover;
      }
    }
  }
}

// Generic classes.
.center-vh {
  align-items: center;
  display: flex;
  justify-content: center;
}

.center-v {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.container {
  margin: 1rem;
  max-width: 54rem;
}

.icon {
  color: inherit;
  margin: 0.75rem;
}

.rounded {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.title {
  font-size: 2rem;
}

.subtitle {
  margin-top: -1rem;
}

.post {
  text-align: left;

  & span {
    font-size: 1.2rem;
    margin-right: 3rem;
  }

  & a {
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: 0.5rem;

    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
}

.post-title {
  text-align: left;
}